# local stuff that doesnt belong in git
*~
.*
_*
args.txt

# Binaries
*.exe

# VS Garbage
*.lnk
*.vcxproj
*.vcxproj.filters
Debug/
*.sdf
*.sln
*.suo

# Latex Garbage
*.aux
*.synctex.gz
*.log
*.blg
*.bbl
*.tdo

# Idea garbage
.idea